*{
    margin: 0;
}

.home-container {
    height: 100vh;
    width: 100%;
    background-image: url("/Chatbot.avif");
    background-size: cover;
    background-position: center;
    position: relative;
}